body {
  font-family: Georgia, serif;
  background-color: #fffaf0;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}

.logo img {
  height: 75px;
  width: 95px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-style: italic;
  color: black;
  font-size: 18px;
}

nav a:hover {
  color: #800020;
}

/* Dashboard Main Section */
main.dashboard {
  max-width: 600px;
  margin: 80px auto;
  padding: 50px;
  background: white;
  border: 2px solid black;
  text-align: center;
}

main.dashboard h1 {
  font-style: italic;
  margin-bottom: 20px;
}

main.dashboard p {
  font-size: 18px;
  margin-bottom: 30px;
}

main.dashboard ul {
  list-style: none;
  padding: 0;
}

main.dashboard li {
  margin: 15px 0;
}

main.dashboard a {
  background-color: #d2b48c;
  color: black;
  text-decoration: none;
  font-style: italic;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  display: inline-block;
  transition: background 0.3s ease;

}

main.dashboard a:hover {
  background-color: #c0a16b;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  main.dashboard {
    width: 90%;
    padding: 30px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}
